<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
      <img src="assets/youtube_logo.png" alt="YouTube Logo" class="img-fluid mb-3" style="max-width: 130px;">
      <h1 class="display-5 mb-4">Welcome to Our Magnificent Video Hub</h1>
      <p class="lead">Embark on a journey to discover and indulge in captivating visual narratives.</p>
      <a routerLink="/search" class="btn btn-primary btn-lg mt-3">Start Exploring</a>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-4 text-center">
      <i class="fas fa-search fa-3x text-primary"></i>
      <div class="text-content">
        <h4 class="mt-3">Search and Discover</h4>
        <p class="text-center">Uncover a plethora of mesmerizing videos from various genres and creators, enriching your viewing experience.</p>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <i class="fas fa-play-circle fa-3x text-primary"></i>
      <div class="text-content">
        <h4 class="mt-3">Watch and Enjoy</h4>
        <p class="text-center">Immerse yourself in a universe of captivating visuals and stories, bringing delight and inspiration to your screen.</p>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <i class="fas fa-users fa-3x text-primary"></i>
      <div class="text-content">
        <h4 class="mt-3">Connect and Share</h4>
        <p class="text-center">Engage with a vibrant community of fellow enthusiasts, sharing your favorite discoveries and expanding your horizons.</p>
      </div>
    </div>
  </div>
</div>
